.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cookieCountId {
  font-size: 4rem;
}

#cpsId {
  font-size: 1.25rem;
}

.buttonsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cookieButton {
  max-height: 300px;
}

.upgrades {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 2px solid #2d1010;
  margin: 5px 250px;
}

#errorMessage {
  color: rgb(255, 0, 106);
  text-align: center;
  visibility: hidden;
}
