.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cookieCountId {
  font-size: 4rem;
}

#cpsId {
  font-size: 1.25rem;
}

.buttonsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cookieButton {
  max-height: 300px;
}
